@{
    ViewData["Title"] = "Home Page";
    var razorExample = "Satan";

}

<!-- removed mega carousel -->

<div class="row">
    <div class="col-lg-12" style="border: 1.5px dashed black">
        <span>ViewData: </span>
        @foreach (var v in ViewData.Keys)
        {
            <span>* @v</span>
        }
    </div>

    <h2>Relay City</h2>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <h4>Stuff used on the site</h4>
        <ul>
            <li>
                a variable containing... @razorExample stored in a variable
            </li>
            <li>
                <!-- TODO: read bower.json to list dependencies for fun? -->
                <a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries
            </li>
            <li>
                Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <h4>TODO list:</h4>
        <ul>
            <li>
                Decide on user registration policy
                <ul>
                    <li>should have some restrictions?</li>
                    <li>don't-you-be-a-robot-bastard</li>
                    <li>other stuff?</li>
                </ul>
            </li>
            <li>Chat via server</li>
            <li>P2P chat</li>
        </ul>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <h4>Another list</h4>
        <ul>
            <li>I'm just here to check the</li>
            <li>Is this responsive?</li>
            <li>Bootstrap is not very verbose, no?</li>
        </ul>
    </div>
</div>
